
@media only screen and (max-width: 375px) {

    .boutonsNav {
        display: flex;
        width: 100%;
        list-style: none;
        text-decoration: none;
        gap: 2%; 
        justify-content: end;  
        align-items: center;
        background-color: transparent;
        padding-right: 2%;
        margin-bottom: 4%;
        color: rgb(57, 50, 50);
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.2em;
        /* position: absolute; */
    }
    .titrePrincipal {
        margin-top: -1%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .titrePrincipal img {
        width: 90%;
    }

    /* _______ NAVBAR ________ */
    .intro {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        /* position: relative; */
        /* padding-bottom: 5%; */
        /* margin-bottom: 12%; */
    }
    .navbar {
        background-color: transparent;
        padding-top: 2.5%;
        padding-bottom: 1%;
        color: rgb(57, 50, 50);
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.3em;
        width: 50%;
    }
  

    .intro2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 50vh;
        color: white;
        margin-bottom: 5%;
        /* position: absolute;
        bottom: 5%; */
    }


    .BG {
        height: 600px;
        width: 100%;
        color: white;
        /* position: relative; */
        background-position: 47% 160%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .intro3 {
        display: flex;
        width: 100%;
        color: white;
        flex-direction: column;
        align-items: left;
        /* justify-content: center; */
        /* position: absolute; */
        /* bottom: 40%; */
        padding-top: 36.5%;
        left: 2.5%;
        
    }
    
    
    #pTitre {
        padding-top: 50%;
        width: 120%;
    }
    
    #intro3P {
        font-size: 1.8em;
        z-index: 1;
        width: 60%;
        color: white;
        /* position: absolute; */
        font-family: 'Archivo Black', sans-serif;
        /* line-height: 0.8em; */
        /* line-height: 28px; */
        padding-left: 5%;
    }
    #intro3P2eP {
        font-size: 2.1em;
        margin-top: -5.8%;
        width: 101%;
        line-height: 100%;
        margin-bottom: 2.5%;
    }
    #intro3SecondP {
        font-size: 1em;
        z-index: 1;
        width: 100%;
        
        color: white;
        /* position: absolute; */
    }
    #boutonIntro {
        padding: 0.5%;
        background-color: rgb(182, 92,111);
        color: white;
        border-radius: 5px;
        border: none;
        font-size: 1.6em;
        z-index: 1;
        margin-top: 2%;
        width: 120px;
        /* position: absolute; */
        margin-left: 6%;
        font-family: 'Bebas Neue', sans-serif;
        
    }
    #intro3PTitre {
        font-size: 2em;
    }
    .intro3 img {
        width: 150%;
        margin-bottom: 8%;
    }





.troisDivEnsemble {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Archivo Black', sans-serif;
    margin-top: 3%;
    flex-direction: column;
   
}


.troisDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Archivo Black', sans-serif;
    gap: 2%;   
    flex-wrap: wrap;
  
}


.troisDiv div {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 490px;
    
}



    #titrePU {
        /* margin-bottom: 10%; */
        font-family: 'Archivo Black', sans-serif;
        font-size: 2.3em;
        color: #484545;
        width: 100%;
        /* margin-left: 25%; */
        /* position: relative; */
        margin-top: 8%;
        display: flex;
        margin-bottom: 5%;
        margin-right: 0;
        margin-left: 0;
        justify-content: center;

    }





    .uniqueALL {
        margin-top: 8%;
        width: 100%;
        position: relative;
        height: 2400px;
        margin-bottom: 3%;
    }

    .piecesUniques {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3%;
        overflow-x: hidden;
        
    }
    .divPiecesUniques {
        display: flex;
        justify-content: center; 
        align-items: center; 
        flex-wrap: wrap;
        gap: 4%;
        width: 100%;
        padding: 1%;
        
    }
    
    
    .grandesDivUniques {
        position: absolute;
        display: flex;
        width: 100%;
        height: 70%;
        top: 0;
        left: 0;
        padding: 0.12%;
    }

    .cardPU {
        width: 280px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1em;
        flex-wrap: wrap;
        /* margin-top: 2%; */
        /* margin-bottom: -1%; */
        
    }

    .video-bg {
        position: relative;
        width: 100%;
        height: 2100px;
        overflow-x: hidden;
        
    }
    
    #video-pieces-uniques {
        position: relative;
        top: -20%;
        left: -0.1%;
        width: 200%;
        object-fit: cover;
        transform: scale(1);
        overflow-x: hidden;
        
    }

    .discover {
        margin-top: 17%;
        font-family: 'Archivo Black', sans-serif;
        font-size: 2.3em;
        color: #484545;
    }



.carousel_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: -3%;
    padding-top: 2%;
    /* margin-bottom: 5%; */
    flex-direction: column; /* Modifier la direction à "row" pour aligner horizontalement */
}


.tout {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
    margin-top: 5%;
    margin-bottom: 15%;

}


.route {
    width: 100%;
    height: 280px;
    background-image: url("../modules/route.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 10%;
}
}