@media only screen and (min-width: 2560px) {

    .boutonsNav {
        display: flex;
        width: 100%;
        list-style: none;
        text-decoration: none;
        gap: 2%; 
        justify-content: end;  
        align-items: center;
        background-color: transparent;
        padding-right: 2%;
        margin-bottom: 2%;
        color: rgb(57, 50, 50);
        font-family: 'Bebas Neue', sans-serif;
        font-size: 2.3em;
        /* position: absolute; */
    }
    .titrePrincipal {
        margin-top: -3%;
        width: 60%;
        display: flex;
        justify-content: center;
    }
    
    .titrePrincipal img {
        width: 80%;
    }

    /* _______ NAVBAR ________ */
    .intro {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        /* position: relative; */
        /* padding-bottom: 5%; */
        /* margin-bottom: 12%; */
    }
    .navbar {
        background-color: transparent;
        padding-top: 2.5%;
        padding-bottom: 1%;
        color: rgb(57, 50, 50);
        font-family: 'Bebas Neue', sans-serif;
        font-size: 2.5em;
    }
  
    .nav-list {
        list-style: none;
        display: flex;
        gap: 30%;
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .intro2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 50vh;
        color: white;
        margin-bottom: 5%;
        /* position: absolute;
        bottom: 5%; */
    }
    .BG {
        
        width: 100%;
        color: white;
        /* position: relative; */
        background-position: 47% 160%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 900px;
    }



    .intro3 {
        display: flex;
        width: 100%;
        color: white;
        flex-direction: column;
        align-items: left;
        /* justify-content: center; */
        /* position: absolute; */
        /* bottom: 40%; */
        padding-top: 14.5%;
        left: 2.5%;
    }
    
    #pTitre {
        margin-top: -10%;
    }
    
    #intro3P {
        font-size: 2.8em;
        z-index: 1;
        width: 60%;
        color: white;
        /* position: absolute; */
        font-family: 'Archivo Black', sans-serif;
        /* line-height: 0.8em; */
        line-height: 48px;
        padding-left: 5%;
    }
    #intro3P2eP {
        font-size: 3.1em;
        margin-top: 1.8%;
        width: 101%;
        margin-bottom: 2.5%;
    }
    #intro3SecondP {
        font-size: 4.5em;
        z-index: 1;
        width: 100%;
        color: white;
        /* position: absolute; */
    }
    #boutonIntro {
        padding: 0.5%;
        /* background-color: rgb(182, 92,111); */
        color: white;
        border-radius: 5px;
        border: none;
        font-size: 3em;
        z-index: 1;
        margin-top: 2%;
        width: 220px;
        /* position: absolute; */
        margin-left: 6%;
        font-family: 'Bebas Neue', sans-serif;
        
    }
    #intro3PTitre {
        font-size: 3em;
    } 






    .troisDivEnsemble {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: 'Archivo Black', sans-serif;
        margin-top: -1.5%;
        flex-direction: column;
       
    }
    
    
    .troisDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: 'Archivo Black', sans-serif;
        gap: 1%;   
        flex-wrap: wrap;
      
    }
    
    
    .troisDiv div {
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 800px;
        margin-top: -1%;
        
    }
    
    .troisDivEnsemble h2 {
        margin-bottom: 5%;
        font-family: 'Archivo Black', sans-serif;
        font-size: 2em;
        color: #484545;
    }
    
    .troisDiv p {
        position: absolute;
        color: rgb(0, 0, 0);
        font-size: 1.6em;
        text-align: center;
        /* margin: 0; */
        z-index: 1;
        bottom: 15%;
    }
    
    
    
    .troisDiv img {
        max-width: 95%;
        height: auto;
        margin-bottom: 10%;
        display: block;
    }
    
    .troisDiv p.barre {
        transition: transform 0.3s ease-in-out; 
    }

    #titrePU {
        /* margin-bottom: 10%; */
        font-family: 'Archivo Black', sans-serif;
        font-size: 2.3em;
        color: #484545;
        width: 100%;
        /* margin-left: 25%; */
        /* position: relative; */
        margin-top: 6%;
        display: flex;
        margin-right: 0;
        margin-left: 0;
        justify-content: center;

    }










.carousel_container {
    display: flex;
    flex-direction: row;
    width: 90%;
    
    justify-content: center;
    align-items: center;
    
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2%;
    /* margin-bottom: 5%; */
    flex-direction: column; /* Modifier la direction à "row" pour aligner horizontalement */
}


.carousel-container h2 {
    margin-bottom: 5%;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.3em;
    color: #484545;
}


.touslesboutons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 5%;
}

.tout {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 13%;
    flex-wrap: wrap;
}






.troisDivBis {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin-bottom: 0%;
    flex-wrap: wrap;
    margin-top: -5%;
}
.troisDivBis div {
    width: 450px;
    height: 400px;
    /* background-color: #daa368; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px;
    margin-bottom: 0%;
}




.route {
    width: 100%;
    height: 1350px;
    background-image: url("../modules/route.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 10%;
}

/* .route {
    width: 100%;
    height: fit-content;
    background-image: url("../modules/route.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    padding-bottom: 10%;
    margin-top: 0.1%;
} */
.route-title {
    margin-top: 3%;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.3em;
    color: #484545;
    padding-top: 75%;
    text-align: center;
    margin-bottom: 70%;
}
.container-route {
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-content: center;
    align-items: center;
}
.container-route input {
    border-radius: 15px;
    padding: 15px;
    background-color: rgb(96, 96, 96);
    width: 300px;
    border: 4px dashed rgb(255, 255, 255);
    margin-bottom: 155%;
}
.container-route ::placeholder {
    color: white;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
}
.container-route button {
    margin-top: 140%;
    background-color: rgb(182, 92, 112);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(182, 92,111);
    font-size: 1.6em;
    font-family: 'Bebas Neue', sans-serif;
    box-shadow: 0px 0px 8px 2px rgba(46, 45, 45, 0.568);
}
.form-route {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.newsletter-checkbox {
    color: white;
}
#phone {
    margin-left: 720%;
    color: white;
    width: 120px;
}
#username {
    margin-top: 2%;
}
.route-p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 0.5em;
    margin-top: -6%;
}

}