@media screen and (max-width: 425px) {

    .uniqueALL {
        margin-top: 8%;
        width: 100%;
        position: relative;
        height: 2750px;
        margin-bottom: -24%;
    }

    .piecesUniques {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3%;
        overflow-x: hidden;
        
    }
    .divPiecesUniques {
        display: flex;
        justify-content: center; 
        align-items: center; 
        flex-wrap: wrap;
        gap: 4%;
        width: 100%;
        padding: 1%;
      
    }
    
    .grandesDivUniques {
        position: absolute;
        display: flex;
        width: 100%;
        height: 70%;
        top: 0;
        left: 0;
        padding: 0.12%;
    }

    .cardPU {
        width: 280px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1em;
        flex-wrap: wrap;
        /* margin-top: 2%; */
        /* margin-bottom: -1%; */
        
    }

        .video-bg {
        position: relative;
        width: 100%;
        height: 2100px;
        overflow-x: hidden;
        
    }
    
    #video-pieces-uniques {
        position: relative;
        top: -20%;
        left: -0.1%;
        width: 200%;
        object-fit: cover;
        transform: scale(1);
        overflow-x: hidden;
        
    }

    .route {
        width: 100%;
        height: 320px;
        background-image: url("../modules/route.png");
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: 50% 10%;
    }
    .route-title {
        margin-top: 10%;
        font-family: 'Archivo Black', sans-serif;
        font-size: 2.3em;
        color: #484545;
        padding-top: 25%;
        text-align: center;
        margin-bottom: 15%;
    }
    .container-route {
        display: flex;
        flex-direction: column;
        width: 100px;
        justify-content: center;
        align-items: center;
    }
    .container-route input {
        border-radius: 15px;
        padding: 15px;
        background-color: rgb(83, 83, 83);
        width: 170px;
        height: 50px;
        border: none;
        /* border: 4px dashed rgb(255, 255, 255); */
        margin-bottom: 3%;
    }
    .container-route ::placeholder {
        color: rgb(255, 255, 255);
        font-size: 1em;
        font-weight: 700;
        text-align: center;
    }
    .container-route button {
        margin-top: 68%;
        background-color: rgb(182, 92, 112);
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        font-weight: bolder;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        border: 1px solid rgb(182, 92,111);
        font-size: 1.6em;
        font-family: 'Bebas Neue', sans-serif;
        box-shadow: 0px 0px 8px 2px rgba(46, 45, 45, 0.568);
    }
    .form-route {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .newsletter-checkbox {
        color: rgb(90, 90, 90);
        margin-top: 3%;
    }
    #phone {
        color: white;
        width: 120px;
    }
    #username {
        margin-top: 2%;
    }
    .route-p {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 0.5em;
        margin-top: -6%;
    }

}