
@media screen and (max-width: 768px) {

    .boutonsNav {
        display: flex;
        width: 100%;
        list-style: none;
        text-decoration: none;
        gap: 2%; 
        justify-content: end;  
        align-items: center;
        background-color: transparent;
        padding-right: 2%;
        margin-bottom: 4%;
        color: rgb(57, 50, 50);
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.2em;
        /* position: absolute; */
    }
    .titrePrincipal {
        margin-top: -1%;
        width: 90%;
        display: flex;
        justify-content: center;
    }
    
    .titrePrincipal img {
        width: 80%;
    }

    /* _______ NAVBAR ________ */
    .intro {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        /* position: relative; */
        /* padding-bottom: 5%; */
        /* margin-bottom: 12%; */
    }
    .navbar {
        background-color: transparent;
        padding-top: 2.5%;
        padding-bottom: 1%;
        color: rgb(57, 50, 50);
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.3em;
    }
  

    .intro2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 50vh;
        color: white;
        margin-bottom: 5%;
        /* position: absolute;
        bottom: 5%; */
    }


    .BG {
        height: 500px;
        width: 100%;
        color: white;
        /* position: relative; */
        background-position: 47% 160%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .intro3 {
        display: flex;
        width: 100%;
        color: white;
        flex-direction: column;
        align-items: left;
        /* justify-content: center; */
        /* position: absolute; */
        /* bottom: 40%; */
        padding-top: 36.5%;
        left: 2.5%;
    }

    #titrePU {
        /* margin-bottom: 10%; */
        font-family: 'Archivo Black', sans-serif;
        font-size: 2.3em;
        color: #484545;
        width: 100%;
        /* margin-left: 25%; */
        /* position: relative; */
        margin-top: 8%;
        display: flex;
        margin-bottom: 8%;
        margin-right: 0;
        margin-left: 0;
        justify-content: center;

    }



    
    .uniqueALL {
        margin-top: 4%;
        width: 100%;
        height: 1200px;
        position: relative;
        margin-bottom: 54%;
    
    }



}